<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.generators">
      <generator
            class="tmdmaker.plugin.scaffold.generator.Generator1"
            name="name">
      </generator>
   </extension>
   <extension
         point="tmdmaker.importers">
      <importer
            class="tmdmaker.plugin.scaffold.importer.FileImporter1"
            name="name">
      </importer>
   </extension>

</plugin>
