<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point id="tmdmaker.generators" name="generators" schema="schema/tmdmaker.generators.exsd"/>
   <extension-point id="tmdmaker.dialect.provider" name="Dialect Provider" schema="schema/tmdmaker.dialect.provider.exsd"/>
   <extension-point id="tmdmaker.persisitence.serializer" name="tmdmaker.persisitence.serializer" schema="schema/tmdmaker.persisitence.serializer.exsd"/>
   <extension-point id="tmdmaker.importers" name="importers" schema="schema/tmdmaker.importers.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.sourceforge.tmdmaker.TMDEditor"
            contributorClass="jp.sourceforge.tmdmaker.TMDEditorActionBarContributor"
            default="true"
            extensions="tmd"
            icon="icons/entity.gif"
            id="tmdmaker.tmdeditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="tmdmaker.category"
            name="%category.name.0">
      </category>
      <wizard
            category="tmdmaker.category"
            class="jp.sourceforge.tmdmaker.wizard.NewDiagramWizard"
            icon="icons/entity.gif"
            id="tmdmaker.wizard.newdiagramwizard"
            name="%wizard.name.0">
         <description>
            新規のTMダイアグラムを作成します
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage"
            id="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage"
            name="TMD-Maker">
      </page>
      <page
            category="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage"
            class="jp.sourceforge.tmdmaker.ui.preferences.appearance.AppearancePreferencePage"
            id="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.appearance"
            name="Appearance">
      </page>
      <page
            category="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.appearance"
            class="jp.sourceforge.tmdmaker.ui.preferences.appearance.ColorAppearancePreferencePage"
            id="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.appearance.color"
            name="Color Appearance">
      </page>
      <page
            category="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.appearance"
            class="jp.sourceforge.tmdmaker.ui.preferences.appearance.FontAppearancePreferencePage"
            id="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.appearance.font"
            name="Font Appearance">
      </page>
      <page
            category="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage"
            class="jp.sourceforge.tmdmaker.ui.preferences.rule.RulePreferencePage"
            id="jp.sourceforge.tmdmaker.ui.preferences.TMDMakerPreferencePage.rule"
            name="Rule">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.sourceforge.tmdmaker.ui.preferences.appearance.AppearancePreferenceInitializer">
      </initializer>
      <initializer
            class="jp.sourceforge.tmdmaker.ui.preferences.rule.RulePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
