<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.sourceforge.tmdmaker.TMDEditor"
            contributorClass="jp.sourceforge.tmdmaker.TMDEditorContributor"
            default="false"
            extensions="tmd"
            icon="icons/tmd.ico"
            id="tmdmaker.tmdeditor"
            name="TM Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="tmdmaker.category"
            name="TMD">
      </category>
      <wizard
            category="tmdmaker.category"
            class="jp.sourceforge.tmdmaker.wizard.NewDiagramWizard"
            id="tmdmaker.wizard.newdiagramwizard"
            name="new diagram">
      </wizard>
   </extension>

</plugin>
