<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.serializer.handler">
      <handler
            class="jp.sourceforge.tmdmaker.serializer.handler.patch.Patch023SerializerHandler">
      </handler>
      <handler
            class="jp.sourceforge.tmdmaker.serializer.handler.patch.Patch024SerializerHandler">
      </handler>
   </extension>

</plugin>
