<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.importers">
      <importer
            class="org.tmdmaker.importer.csv.EntityFileImporter"
            name="EntityFileImporter">
      </importer>
   </extension>
   <extension
         point="tmdmaker.importers">
      <importer
            class="org.tmdmaker.importer.csv.AttributeFileImporter"
            name="AttributeFileImporter">
      </importer>
   </extension>
   <extension
         point="tmdmaker.generators">
      <generator
            class="org.tmdmaker.generate.csv.attributelist.AttributeListCsvGenerator"
            name="attribute_list">
      </generator>
   </extension>

</plugin>
