<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://archive.eclipse.org/technology/babel/update-site/R0.15.1/mars"/>
			<unit id="org.eclipse.babel.nls_tools.gef_ja.feature.group" version="4.5.0.v20171231064042"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
			<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
			<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
			<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
			<unit id="org.junit" version="4.12.0.v201504281640"/>
			<unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
			<unit id="org.apache.batik.extension" version="1.6.0.v201011041432"/>
			<unit id="org.apache.batik.svggen" version="1.6.0.v201011041432"/>
			<unit id="org.apache.batik.swing" version="1.6.0.v201011041432"/>
			<unit id="org.apache.batik.transcoder" version="1.6.0.v201011041432"/>
			<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
			<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/11/updates/release/11.0.2"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="11.0.2.v20200815-0835"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/technology/babel/update-site/R0.18.2/2020-12/"/>
			<unit id="org.eclipse.babel.nls_eclipse_ja.feature.group" version="4.18.0.v20201226020001"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.19"/>
			<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.1200.v20210226-1447"/>
			<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.19.0.v20210210-1828"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="4.19.0.v20210302-1107"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.22.100.v20210226-1447"/>
			<unit id="org.eclipse.platform.sdk" version="4.19.0.I20210303-1800"/>
			<unit id="org.eclipse.rcp.sdk.id" version="4.19.0.I20210303-1800"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.22.0.v20210227-0235"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2021-03"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.0.0.202006031738"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="3.0.0.202006031738"/>
			<unit id="org.eclipse.swtbot.feature.group" version="3.0.0.202006031738"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="3.0.0.202006031738"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.25.0"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.25.0.v20210301-1429"/>
		</location>
		<location includeDependencyScope="compile" missingManifest="generate" type="Maven">
			<groupId>com.opencsv</groupId>
			<artifactId>opencsv</artifactId>
			<version>3.10</version>
			<type>jar</type>
		</location>
		<location includeDependencyScope="compile" missingManifest="generate" type="Maven">
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-api</artifactId>
			<version>1.7.30</version>
			<type>jar</type>
		</location>
		<location missingManifest="generate" type="Maven">
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-simple</artifactId>
			<version>1.7.30</version>
			<type>jar</type>
		</location>
		<location missingManifest="generate" type="Maven">
			<groupId>org.slf4j</groupId>
			<artifactId>jcl-over-slf4j</artifactId>
			<version>1.7.30</version>
			<type>jar</type>
		</location>
	</locations>
</target>