<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.generators">
      <generator
            class="jp.sourceforge.tmdmaker.generate.attributelist.AttributeListHtmlGenerator"
            name="attribute_list">
      </generator>
   </extension>
   <extension
         point="tmdmaker.generators">
      <generator
            class="jp.sourceforge.tmdmaker.generate.relationshiplist.RelationshipListHtmlGenerator"
            name="relationship_list">
      </generator>
   </extension>

</plugin>
