<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.importers">
      <importer
            class="jp.sourceforge.tmdmaker.importer.impl.EntityFileImporter"
            name="EntityFileImporter">
      </importer>
   </extension>
   <extension
         point="tmdmaker.importers">
      <importer
            class="jp.sourceforge.tmdmaker.importer.impl.AttributeFileImporter"
            name="AttributeFileImporter">
      </importer>
   </extension>

</plugin>
