<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jp.sourceforge.tmdmaker.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="jp.sourceforge.tmdmaker.rcp.Perspective"
            id="tmdmaker.rcp.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="tmdmaker.rcp.application"
            name="TMD-Maker for RCP">
         <property
               name="appName"
               value="TMD-Maker for RCP">
         </property>
      </product>
   </extension>

</plugin>
