<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jp.sourceforge.tmdmaker.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jp.sourceforge.tmdmaker.rcp.Perspective"
            fixed="true"
            id="tmdmaker.rcp.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="tmdmaker.rcp.application"
            name="TMD-Maker for RCP">
         <property
               name="tmdmaker.rcp"
               value="TMD-Maker for RCP">
         </property>
         <property
               name="appName"
               value="TMD-Maker for RCP">
         </property>
         <property
               name="windowImages"
               value="icons/window/tmd_icon_16_32bit.png,icons/window/tmd_icon_32_32bit.png,icons/window/tmd_icon_48_32bit.png,icons/window/tmd_icon_64_32bit.png,icons/window/tmd_icon_128_32bit.png">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini" />
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="17,282,470,20">
         </property>
         <property
               name="startupProgressRect"
               value="15,305,470,15">
         </property>
         <property 
               name="buildId"
               value="Ver.0.2.10">
         </property>
         <property 
               name="buildIdLocation" 
               value="270,250,200,40">
         </property>
         <property
               name="aboutImage" 
               value="icons/tmd_about.gif">
          </property>
         <property
               name="aboutText"
               value="%blurb">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="%command.label"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="%command.label.0"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%command.label.1"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%command.label.2"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.label.3"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.0">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="%command.label.4"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="%command.label.5"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="%command.label.6"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="%command.label.7"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="%command.label.8"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.1">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%command.label.9"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="%command.label.10"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.2">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%command.label.14"
                  style="push">
            </command>
         </menu>
         
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="tmdmaker.rcp.toolbar1">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="%command.label.11"
                  style="push">
            </command>
            <separator
                  name="tmdmaker.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%command.label.12"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%command.label.13"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.3"
               relationship="left"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.7"
               relationship="right"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="jp.sourceforge.tmdmaker.rcp.TMDSplashHandler"
            id="tmdmaker.rcp.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="tmdmaker.rcp.product"
            splashId="tmdmaker.rcp.splashHandler">
      </splashHandlerProductBinding>
   </extension>

</plugin>
