<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tmdmaker.generators" name="generators" schema="schema/tmdmaker.generators.exsd"/>
   <extension-point id="tmdmaker.dialect.provider" name="Dialect Provider" schema="schema/tmdmaker.dialect.provider.exsd"/>
   <extension-point id="tmdmaker.importers" name="importers" schema="schema/tmdmaker.importers.exsd"/>
   <extension-point id="tmdmaker.persisitence.serializer" name="tmdmaker.persisitence.serializer" schema="schema/tmdmaker.persisitence.serializer.exsd"/>
</plugin>
