<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.persisitent.serializer">
      <serializer
            class="jp.sourceforge.tmdmaker.persistent.XStreamSerializer"
            name="DefaultSerializer">
      </serializer>
   </extension>

</plugin>
