<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tmdmaker.persisitence.serializer">
      <serializer
            class="jp.sourceforge.tmdmaker.persistence.XStreamSerializer"
            name="Default Serializer">
      </serializer>
   </extension>

</plugin>
