<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <dynamic
               class="jp.sourceforge.tmdmaker.ui.menu.DynamicGeneratorPopupMenu"
               id="tmdmaker.ui.menu.dynamic1">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <dynamic
               class="jp.sourceforge.tmdmaker.ui.menu.DynamicGeneratorPopupMenu"
               id="tmdmaker.ui.menu.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>


</plugin>
