<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               id="tmdmaker.menu.popup.project"
               label="TMD-Maker">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="tmdmaker.ui.menu.definition1">
               </reference>
            </visibleWhen>
            <command
                  commandId="tmdmaker.ui.menu.command1"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command2"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command3"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command4"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="tmdmaker.menu.popup.package"
               label="TMD-Maker">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="tmdmaker.ui.menu.definition1">
               </reference>
            </visibleWhen>
            <command
                  commandId="tmdmaker.ui.menu.command1"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command2"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command3"
                  style="push">
            </command>
            <command
                  commandId="tmdmaker.ui.menu.command4"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="tmdmaker.ui.menu.command1"
            name="DDLを出力">
      </command>
      <command
            id="tmdmaker.ui.menu.command2"
            name="アトリビュートリストをHTML形式で出力">
      </command>
      <command
            id="tmdmaker.ui.menu.command3"
            name="キー定義書をHTML形式で出力">
      </command>
      <command
            id="tmdmaker.ui.menu.command4"
            name="関係の検証表をHTML形式で出力">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.sourceforge.tmdmaker.handler.DDLGeneratorHandler"
            commandId="tmdmaker.ui.menu.command1">
      </handler>
      <handler
            class="jp.sourceforge.tmdmaker.handler.AttributeListHtmlGeneratorHandler"
            commandId="tmdmaker.ui.menu.command2">
      </handler>
      <handler
            class="jp.sourceforge.tmdmaker.handler.KeyDefinitionListHtmlGeneratorHandler"
            commandId="tmdmaker.ui.menu.command3">
      </handler>
      <handler
            class="jp.sourceforge.tmdmaker.handler.RelationshipListHtmlGeneratorHandler"
            commandId="tmdmaker.ui.menu.command4">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="tmdmaker.ui.menu.definition1">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="tmd">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
