# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      uses: GabrielBB/xvfb-action@v1
      env: 
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      with:
        run: |
          mvn -e -B -P 2022-03 clean verify -Dtycho.disableP2Mirrors=false
          mvn -B -P 2022-03 jacoco:report coveralls:report -D repoToken=${{ secrets.COVERALLS_TOKEN }} 
